NEXT_PUBLIC_SITE_NAME=نمایشگاه کابینت صفی
NEXT_PUBLIC_CDN_BASE=https://cdn.safiwood.com
NEXT_PUBLIC_FORM_ENDPOINT=https://formspree.io/f/XXXXXXXX
NEXT_PUBLIC_AI_DISABLED=true

FORM_ENDPOINT=https://formspree.io/f/XXXXXXXX
AI_API_URL=https://api.example.com/generate
AI_API_KEY=REPLACE_ME
AI_DISABLED=true

AOS_ENDPOINT=https://s3.ir-thr-at1.arvanstorage.com
AOS_BUCKET=safiwood-gallery
AOS_ACCESS_KEY=REPLACE_ME
AOS_SECRET_KEY=REPLACE_ME
